.text{
    width: 90%;
    max-width: 1150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 130px;
    text-align: center;
    height: fit-content;
    /* overflow: scroll; */
    /* background-color: blueviolet; */
}

h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.menuPerfil{
    top: 86px !important;
}

.perfilButton{
    z-index: 30;
}

.navImagemPerfil{
    z-index: 10;
}

.grid-container{
    display: grid;
    grid-template-areas: 'texto1 imagem1' 'imagem2 texto2';
    /* margin-left:25px; */
    width: 100%;
    height: fit-content;
    /* background-color: red; */
    text-align: center;
    align-items: center;
}

@media all and (max-width:990px){
    .grid-container{
        grid-template-areas: 'texto1' 'imagem1' 'texto2' 'imagem2';
    }
}

.separadorV{
    grid-area: texto1;
}

.separadorI{
    grid-area: texto2;
}

.image1{
    grid-area: imagem1;
    width: 90%;
    height: auto;
    vertical-align: middle;
}

.image2{
    grid-area: imagem2;
    width: 90%;
    height: auto;
    vertical-align: middle;
}

.image1 img, .image2 img{
    max-width: 100%;
    max-height: 100%;
    margin-left: 30px;
}